[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"

[workspace.dependencies]
bsp-tree = { path = "crates/bsp-tree" }
macroquad = "0.4"
nalgebra = "0.34"
